<!doctype html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tweet Predictions</title>
        <!-- CSS, Keywords, Metadata goes here -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Who Would Tweet It?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="/archive">Past Predictions</a>
                </div>
            </div>
        </nav>

        {% block content %}
        <div class='jumbotron row'>
            <div class='col'>
            </div>
            <div class="col-6" >
                    <h1 class="display-4">Who Would Tweet It?</h1>
                    <p class="lead">Discover which Twitter user is more likely to Tweet about a topic</p>
                    <hr class="my-4">
                    <form action="/compare" method="POST">
                        <div class="form-row">
                                <div class="form-group col-md-6">
                                <label>First User's Twitter Handle</label>
                                <input type="text" name="user_1" class="form-control" placeholder="@elonmusk">
                                </div>
                                <div class="form-group col-md-6">
                                <label>Second User's Twitter Handle</label>
                                <input type="text" name="user_2" class="form-control" placeholder="@jack">
                                </div>
                        </div>
                        <div class="form-group">
                                <label>Hypothetical Tweet</label>
                                <input type="text" name="tweet_text" class="form-control" placeholder="I am moving to mars.">
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg" value="Make Prediction">
                    </form>
                    <p></p>
                    <p>(1) Predictions may take up to 2 minutes to load. Please try re-running your comparision if you encounter an error (the request likely timed out, but will likely run successfully if re-ran).</p>
                    <p>(2) Provided twitter user's must have public accounts</p>
            </div>
            <div class='col'>
            </div>
        </div>
        <div class="row" style='padding: 0% 5% 0% 5%;'>
                <div class="col-sm-12">
                    <h1 class="display-4" style='text-align: center; float:none; margin: 0 auto; padding-bottom:2%'>Recent Predictions:</h1>
                    <table class="table table-striped table-hover" style='padding:1%'>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Hypothetical Tweet</th>
                                    <th scope="col">User #1</th>
                                    <th scope="col">User #1 Probability</th>
                                    <th scope="col">User #2</th>
                                    <th scope="col">User #2 Probability</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prediction in predictions %}
                                        <tr>
                                            <td>{{ prediction.id }}</td>
                                            <td>{{ prediction.text }}</td>
                                            <td>{{ prediction.user_1_name }}</td>
                                            <td>{{ prediction.user_1_prob }}%</td>
                                            <td>{{ prediction.user_2_name }}</td>
                                            <td>{{ prediction.user_2_prob }}%</td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
        </div>

        {% endblock %}     

    </body>

</html>